{
  "rules": {
    "indent": [2, 4, {"SwitchCase": 1}],
    "no-use-before-define": ["error", { "functions": false, "classes": false }],
    "no-param-reassign": [2, {props: false}],

    // Legacy
    "max-len": [2, 120, 4, { "ignoreComments": true, "ignoreUrls": true }],
    "max-params": [2, 4],
    "no-bitwise": 2,

    "import/prefer-default-export": 0
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  }
}
